<div class="col-md-3 col-sm-6">
  <li class="item food">
    <div class="item-title">
      <%= link_to food.title, food_path(food) %>
    </div>
    <%= food.content %>
    <%= render 'favorites/favorite_form', item: food %>
  </li>
</div>
