<h2>組み合わせ</h2>
<div class="row">
  <ul>
    <%= render @pairings %>
  </ul>
</div>

<h2>ドリンク</h2>
<div class="row">
  <ul>
    <%= render @drinks %>
  </ul>
</div>

<h2>おつまみ</h2>
<div class="row">
  <ul>
    <%= render @foods %>
  </ul>
</div>
