<div class="row">
  <div class="col-md-8">
    <h1>組み合わせ</h1>
    <ul>
      <%= render @pairings %>
    </ul>

    <h1>ドリンク</h1>
    <ul>
      <%= render @drinks %>
    </ul>

    <h1>おつまみ</h1>
    <ul>
      <%= render @foods %>
    </ul>
  </div>
</div>