@import "bootstrap-sprockets";
@import "bootstrap";

//各ページ共通のデザイン
body {
  padding-top: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

header {
  background-color: #8B4513;
}

.nav > li > a {
  color: #fff;
  &:hover{
    background-color:  #8B4513;
    color: #999;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small {
    float: left;
  }
}

// 入力フォーム
input {
  width: 100%;
  margin-bottom: 15px;
}
