<div class="col-md-3 col-sm-6">
  <li class="item pairing">
    <div class="item-title col-sm-8">
      <%= link_to pairing.title, pairing_path(pairing) %>
    </div>
    <div class="follow col-sm-4">
      <%= render 'favorites/favorite_form', item: pairing %>
    </div>
    <div class="pairing-content col-sm-12">ドリンク : <%= pairing.drink.title %></div>
    <div class="pairing-content col-sm-12">おつまみ : <%= pairing.food.title %></div>
  </li>
</div>