<div class="col-md-3">
  <li class="item pairing">
    <div class="item-title">
      <%= link_to pairing.title, pairing_path(pairing) %>
    </div>
    <p>ドリンク : <%= pairing.drink.title %></p>
    <p>おつまみ : <%= pairing.food.title %></p>
    <%= render 'favorites/favorite_form', item: pairing %>
  </li>
</div>