<h1>合わせ方の投稿</h1>

<h2>ドリンクを選択してください</h2>

<ul>
  <% @drinks.each do |drink| %>
    <li>
      <%= link_to drink.title, new_pairing_path(drink_id: drink.id, food_id: params[:food_id]) %>
    </li>
  <% end %>
</ul>
