<h1>合わせ方の投稿</h1>

<h2>おつまみを選択してください</h2>

<ul>
  <% @foods.each do |food| %>
    <li>
      <%= link_to food.title, new_pairing_path(food_id: food.id, drink_id: params[:drink_id]) %>
    </li>
  <% end %>
</ul>
